/* Drone Animation Plugin Styles */

.drone-animation-container {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: #ffffff;
}

#droneAnimationCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#droneAnimationImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    z-index: 10;
    pointer-events: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .drone-animation-container {
        height: 400px;
    }
    
    #droneAnimationImage {
        width: 300px;
    }
}

@media (max-width: 480px) {
    .drone-animation-container {
        height: 300px;
    }
    
    #droneAnimationImage {
        width: 200px;
    }
}
